<footer>
        <div>
            <ul class="links">
                <h5>Helpful links</h5>
                <li>Supports</li>
                <li>Terms & Conditions</li>
                <li>Privacy</li>
            </ul>
        </div>
        <div>
        <h5>Follow us on<h5>
        <ul class="footer-items">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
        </ul>
        </div>
        <div>
            <ul class="information-items">
                <h5>Informations</h5>
                <li>+977-9856555564</li>
                <li>futsalBooker@gmail.com</li>
            </ul>
        </div>
</footer>